
<ul>
  <li>{{#link-to 'select-box'}}select box{{/link-to}}</li>
  <li>{{#link-to 'text-area'}}text-area{{/link-to}}</li>
  <li>{{#link-to 'input'}}input{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons-boolean'}}boolean radio buttons{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons'}}radio buttons{{/link-to}}</li>
</ul>  
