<h1>Media Suite Form Elements</h1>
<p>
  Media Suite Form Elements are a small wrapper around the excellent Dockyard <a href="https://github.com/DockYard/ember-one-way-controls">Ember One Way Controls</a>, providing some utility
  patterns, as well as consistent styling for how we handle errors returned in a JSONAPI formatted response.
</p>

<ul>
  <li>{{#link-to 'select-box'}}select box{{/link-to}}</li>
  <li>{{#link-to 'text-area'}}text-area{{/link-to}}</li>
  <li>{{#link-to 'input'}}input{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons-boolean'}}boolean radio buttons{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons'}}radio buttons{{/link-to}}</li>
  <li>{{#link-to 'radio-button'}}radio button (manually using radio buttons){{/link-to}}</li>
  <li>{{#link-to 'date-picker'}}Date Picker{{/link-to}}</li>
  <li>{{#link-to 'checkbox'}}Checkbox{{/link-to}}</li>
  <li>{{#link-to 'checkboxes'}}Checkboxes{{/link-to}}</li>
</ul>  
