
<ul>
  <li>{{#link-to 'select-box'}}select box - tbc{{/link-to}}</li>
  <li>{{#link-to 'text-area'}}text-area{{/link-to}}</li>
  <li>{{#link-to 'input'}}input{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons-boolean'}}boolean radio buttons{{/link-to}}</li>
  <li>{{#link-to 'radio-buttons'}}radio buttons{{/link-to}}</li>
  <li>{{#link-to 'radio-button'}}radio button (manual adding radio buttons) - tbc{{/link-to}}</li>
</ul>  
