<h1>Boolean Radio Buttons</h1>
<br><br>
<p>A set of radio buttons when you want a boolean true/false or yes/no response.</p>
<p>
  <table>
    <tr>
      <th>Paramater</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    <tr><td>value</td><td>string</td><td>The value of the input (even 'number' type returns a string)</td></tr>
    <tr><td>groupLabel</td><td>string</td><td>Label</td></tr>
    <tr><td>required</td> <td>true, false(default)</td><td>Indicates whether this is a required field - adds an '*' to the UI and marks the input element as 'required'</td></tr>
    <tr><td>disabled</td> <td>true, false(default)</td><td>Indicates whether the field is disabled</td></tr>
    <tr><td>class</td> <td>string</td><td>Element css classes</td></tr>
    <tr><td>errors</td> <td>[object]</td><td>Array of error objects.  Each object must contain a 'message' key to be displayed</td></tr>
  </table>
</p>

<h3>Valid</h3>

{{mediasuite-radio-buttons-boolean
  name="is-continuous"
  class='element-group-wrap'
  value=model.hasTaste
  onChange=(route-action 'didEnjoy')
  groupLabel='Did you enjoy Ready Player One?'
  required=true
  errors=layout.errors.hasTaste
}}

<pre>
&#123;&#123;mediasuite-radio-buttons-boolean
  name="is-continuous"
  class='element-group-wrap'
  value=model.hasTaste
  onChange=(route-action 'didEnjoy')
  groupLabel='Did you enjoy Ready Player One?'
  required=true
  errors=layout.errors.hasTaste
&#125;&#125;
</pre>

<br><br>

<h3>Invalid</h3>

{{mediasuite-radio-buttons-boolean
  name="is-continuous"
  class='element-group-wrap'
  value=model.hasTaste
  onChange=(route-action 'didEnjoy')
  groupLabel='Did you enjoy Ready Player One?'
  required=true
  errors=model.errors.hasTaste
}}

<pre>
&#123;&#123;mediasuite-radio-buttons-boolean
  name="is-continuous"
  class='element-group-wrap'
  value=model.hasTaste
  onChange=(route-action 'didEnjoy')
  groupLabel='Did you enjoy Ready Player One?'
  required=true
  errors=model.errors.hasTaste
&#125;&#125;
</pre>